.row
  .col-12.col-md
    = form.input :identifier_eq
  .col-12.col-md
    = form.input :unit_name_eq
  .col-12.col-md
    = form.input :unit_net_amount_eq
  .col-12.col-md
    = form.input :unit_tax_rate_percentage_eq
