.table-max td, .table-max th {
  white-space: nowrap;
}

.table-max td.max {
  width: 100%
}

.form-control-xs {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  border-radius: 0.2rem;
}